<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Project-Zero</title>
</head>
<body>
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="logo_nav" data-no-turbolink>
              <a class="navbar-brand" href="/">
                <img id="techstart_logo" src="http://i.imgur.com/P7q8Dui.png">
                <h3>TechStart</h3>
              </a>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Home', companies_path, method: :get %></li>
              <li><%= link_to 'My Profile', companies_path %></li>
              <li><%= link_to 'Log In', user_session_path, method: :post %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li><!-- button to log out solves path issues -->
              <li><%= link_to 'Sign Up', new_user_registration_path, method: :get %></li>
            </ul>
          </div>
        </div>
      </nav>
<%= form_for(@company) do |f| %>
<% if @company.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

  <ul>
    <% @company.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class = "form_container">
  <div class = "form_div">
    <h4>Name & Location</h4>
    <div class="field">
      <%= f.label :name, "Company Name:" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address, "Company Address:" %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :city, "City:" %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state, "State:" %><br>
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :zip, "Zip Code:" %><br>
      <%= f.text_field :zip %>
    </div>
  </div>
  <div class = "form_div">
    <h4>Company Info</h4>
    <br>
    <br>
    <div class="field">
      <%= f.label "Mission Statement:" %><br>
      <%= f.text_area :about %>
    </div>
    <div class="field">
      <%= f.label :numberofemployees, "Number of Employees:" %><br>
      <%= f.text_field :numberofemployees %>
    </div>
    <div class="field">
      <%= f.label :ceo, "CEO Name:" %><br>
      <%= f.text_field :ceo %>
    </div>
    <div class="field">
      <%= f.label :perks, "Choose Perks:" %><br>
      <%= f.text_field :perks %>
    </div>
    <div class="field">
      <%= f.label :industry, "Choose Industry" %><br>
      <%= f.text_field :industry %>
    </div>
    <div class="field">
      <%= f.label :amenities, "Choose Specialities:" %><br>
      <%= f.text_field :amenities %>
    </div>
    <div class="field">
      <%= f.label :qualifications, "Technologies used:" %><br>
      <%= f.text_field :qualifications %>
    </div>
    <div class="field">
      <%= f.label :logo, "URL to Company Logo" %><br>
      <%= f.text_field :logo %>
    </div>
  </div>
  <div class = "form_div">
    <h4>Contact & Social Media</h4>
    <br>
    <br>
    <div class="field">
      <%= f.label :twitter, "Twitter Handle:" %><br>
      <%= f.text_field :twitter %>
    </div>
    <div class="field">
      <%= f.label :linkedin, "LinkedIn Username:" %><br>
      <%= f.text_field :linkedin %>
    </div>
    <div class="field">
      <%= f.label :instagram, "Instagram Username:" %><br>
      <%= f.text_field :instagram %>
    </div>
    <div class="field">
      <%= f.label :meetup, "Meetup Profile:" %><br>
      <%= f.text_field :meetup %>
    </div>
    <div class="field">
      <%= f.label :pointOfContactName, "Point of Contact Name:" %><br>
      <%= f.text_field :pointOfContactName %>
    </div>
    <div class="field">
      <%= f.label :pointOfContactEmail, "Point of Contact Email:" %><br>
      <%= f.text_field :pointOfContactEmail %>
    </div>
    <div class="field">
      <%= f.label :pointOfContactPhone, "Point of Contact Phone Number:" %><br>
      <%= f.text_field :pointOfContactPhone %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<center><div class="actions form_button">
  <%= f.submit %>
</div></center>
<% end %>
<hr>
<div class="row">
  <div class="col-lg-12">
    <div class="well text-center">
      This is a well that is a great spot for a business tagline or phone number for easy access!
    </div>
  </div>
</div>
<div class="row">
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>&copy; TechStart, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
    </div>
  </footer>
</div>
</body>
</frameset>
</html>
